{% extends 'header.html' %}

{% block contents %}
    <br><br><br><br><br><br><br><br><br>
    <a href="addpayee/" class="btn btn-danger" style="text-align: center; margin-left: 600px; width: 150px; height: 45px; font-size: 22px; padding-top: 3px">Add Payee</a>
    <a href="addlender/" class="btn btn-danger" style="margin-left: 200px; width: 150px; height: 45px; font-size: 22px; padding-top: 3px">Add Lender</a>
    <p style="margin-left: 582px; padding-top: 6px; font-size: 17px">(click here to add payee)&nbsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &nbsp; &nbsp;(click here to add lender)</p>
{% endblock %}