{% extends 'header.html' %}

{% block contents %}
     <style>
         form { width: 400px; }
         form section div { float: left; }
         form section div.full { clear: both; }
         form section div label { display: block; }
     </style>
     <br><br><br><br>
     <p style="text-align: center; font-size: 25px">Enter Lender Details</p>
     <br><br><br>
     <script>
         function remindFunction() {
             var date = document.getElementById('duedate').value;
         }
     </script>
     <div class="form">
        <form class="" action="lenderdetails/" method="post" style="text-align: left; padding-bottom: 1px; margin-left: 700px; ">
            {% csrf_token %}
            <section>
                <div>
                  <label for="firstname">First Name</label>
                  <input id="firstname" type="text" value="" name="firstname" required style="width: 230px; margin-right: 15px; border-radius: 3px; height: 33px">
                </div>
                <div>
                  <label for="surname">Sur Name</label>
                  <input id="surname" type="text" value="" name="surname" required style=";width: 150px; border-radius: 3px; height: 33px">
                </div>
            </section>
            <section>
                <div>
                    <br>
                  <label for="amount">Amount Borrowed</label>
                  <input id="amount" type="text" value="" name="amount" required style="border-radius: 4px; height: 33px">
                </div>
                <div class="full">
                    <br>
                  <label for="interest">Interest PM (%)</label>
                  <input id="interest" type="text" value="" name="interest" required style="border-radius: 4px; height: 33px;">
                </div>
                <div>
                    <br>
                    <label for="duedate">Borrowing Date</label>
                    <input id="duedate" type="date" value="" name="duedate" placeholder="yyyy-mm-dd" required style="border-radius: 4px"><p>(Please Enter date in the above format)</p><br><br><br>
                    <input type="submit" name="addlender" class="btn btn-danger" value="Add Lender" style="border-radius: 5px; margin-left: 150px; " onclick="remindFunction();">
                </div>
            </section>
        </form>
    </div>
    {% if message == 'Successfully saved' %}
        <script>
            alert("Lender Succesfully added!");
            window.location = "home/";
        </script>
    {% endif %}
{% endblock %}
