{% extends "viewpayments.html" %}

{% block contents %}
     <style>

        .tableclass{
            position: relative;
            top: 50%;
            left: 12%;
        }

        table a:link {
            color: #666;
            font-weight: bold;
            text-decoration:none;
        }

        table a:visited {
            color: #999999;
            font-weight:bold;
            text-decoration:none;
        }

        table a:active,
        table a:hover {
            color: #bd5a35;
            text-decoration:underline;
        }

        table {
            font-family:Arial, Helvetica, sans-serif;
            color:#666;
            font-size:15.5px;
            text-shadow: 1px 1px 0px #fff;
            background:#eaebec;
            margin:0px;
            border:#ccc 1px solid;

            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;

            -moz-box-shadow: 0 1px 2px #d1d1d1;
            -webkit-box-shadow: 0 1px 2px #d1d1d1;
            box-shadow: 0 1px 2px #d1d1d1;
        }

        table th {
            padding:21px 25px 22px 25px;
            border-top:1px solid #fafafa;
            border-bottom:1px solid #e0e0e0;

            background: #ededed;
            background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
            background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
        }

        table th:first-child {
            text-align: left;
            padding-left:20px;
        }

        table tr:first-child th:first-child {
            -moz-border-radius-topleft:3px;
            -webkit-border-top-left-radius:3px;
            border-top-left-radius:3px;
        }

        table tr:first-child th:last-child {
            -moz-border-radius-topright:3px;
            -webkit-border-top-right-radius:3px;
            border-top-right-radius:3px;
        }

        table tr {
            text-align: center;
            padding-left:20px;
        }

        table td:first-child {
            text-align: left;
            padding-left:20px;
            border-left: 0;
        }

        table td {
            padding:18px;
            border-top: 1px solid #ffffff;
            border-bottom:1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;

            background: #fafafa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
        }

        table tr.even td {
            background: #f6f6f6;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
        }

        table tr:last-child td {
            border-bottom:0;
        }

        table tr:last-child td:first-child {
            -moz-border-radius-bottomleft:3px;
            -webkit-border-bottom-left-radius:3px;
            border-bottom-left-radius:3px;
        }

        table tr:last-child td:last-child {
            -moz-border-radius-bottomright:3px;
            -webkit-border-bottom-right-radius:3px;
            border-bottom-right-radius:3px;
        }

        table tr:hover td {
            background: #f2f2f2;
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
            background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
        }

    </style>
    <script>
        function addCommas(input)
        {
            var string1 = input.toString();
            if(string1.length <= 3)
            {
                return string1;
            }
            else
            {
                var count = 0, result = '';
                for (var i = string1.length-1; i >= 0; i--)
                {
                    count = count + 1;
                    if (count > 1 && (count % 2 == 1))
                    {
                        result = ',' + string1.charAt(i) + result;
                    }
                    else
                    {
                        result = string1.charAt(i) + result;
                    }
                }
                if (result[0] == ',') {
                    return result.substring(1)
                }
                return result;
            }
        }

        function sortFunction() {
            sort_ = document.getElementById('payeesort').value;
            window.location = sort_ + 'paye/';
        }
    </script><br><br><br><br><br>
    <p style="text-align: center; font-size: 26px">Payee Details</p><br><br><br>
    <form method="post" action="sortbypayee/" onchange="sortFunction()">
        <div align="center">
            <select name="payeesort" id="payeesort">
                <option name="nothing" selected="selected"> -- SORT BY -- </option>
                <option value="firstname" name="firstname" id="firstname">First Name</option>
                <option value="amount" name="amount" id="amount">Amount</option>
                <option value="duedate" name="duedate" id="duedate">Due Date</option>
            </select>
        </div><br><br>
    </form>
    <p align="center" style="font-size: 17px">Click on the first name to view all payments</p><br><br>
    <div id="tablecontainer-1">
        <div id="tablecontainer-2">
            <table class="tableclass" width="1400" border="1" >
            <thead>
                <tr class="row">
                    <th style="padding-left: 35px">ID</th>
                    <th style="padding-left: 100px">First Name</th>
                    <th style="padding-left: 100px">SurName</th>
                    <th style="padding-left: 70px;">Amount</th>
                    <th style="padding-left: 50px">Interest</th>
                    <th style="padding-left: 45px">Period</th>
                    <th style="padding-left: 70px">Borrow Date</th>
                    <th style="padding-left: 35px">Interest Amount</th>
                    <th>Due Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in object %}
                <tr class="row">
                    <td width="6.5%">{{ row.id }}</td>
                    <td width="17%"><a href="{{ row.id }}payeeid">{{ row.firstname }}</a></td>
                    <td width="12%">{{ row.surname }}</td>
                    <td width="10%"><script>document.write(addCommas({{ row.amount }}));</script></td>
                    <td width="9%">{{ row.interest }}%</td>
                    <td width="9%">{{ row.period }}</td>
                    <td width="13%">{{ row.duedate }}</td>
                    <td width="12%">{{ row.interestamount }} p.m.</td>
                    <td width="10%">{{ row.dueamount }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}